* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f3f4;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

nav {
  position: relative;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  /* top: 60px; */
  z-index: 99;
}

header {
  /* position: relative; */

  background: url(./images/headBg.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 90vh;
  overflow: hidden;
}

.headCar {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 600px;
  transform: translate(0, -50%);
}

.search {
  padding-top: 10px;
  z-index: 2;
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translate(-50%, -30%);
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.registerdCars {
  margin-top: 100px;
}

.dot {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #e5383b;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: -20px;
}

.contact {
  background: url(./images/5.jpg) no-repeat;
  position: relative;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.contact::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 500px;
  background-color: #000000a8;
  overflow: hidden;
  z-index: -1;
}

.article {
  position: relative;
  height: 230px;
  background: #fff;
  border: none !important;
  box-shadow: none !important;
}

.article-image {
  position: absolute;
  right: 0;

  width: 400px;
  height: 400px;
  border-radius: 20px;
}

.article-image img {
  position: absolute;
  border-radius: 10px;
  width: 300px;
  height: 200px;
  margin-top: 15px;
}

.card {
  background: #fff;
}

.darklayer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(10, 10, 10, 0.76);
  z-index: 1;
}

.contact-text {
  z-index: 99999;
  font-size: 20px;
}

.contact-text i {
  margin-top: 10px;
  background: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  color: #e5383b;
  border-radius: 50%;
  padding: 5px;
}

.car-detaile li {
  border-right: 1px solid black;
  line-height: 0px;
  margin: 10px 0px !important;
  padding: 5px 8px !important;
  justify-items: center;
  font-size: 14px;
}

.car-detaile li:last-child {
  border: none;
}

.card-body {
  position: relative;
  border-radius: 10px !important;
}

.car-info {
  height: 380px !important;
}

.swiper-slide .card {
  border: none;
  box-shadow: 0px -1px 8px 1px rgba(0, 0, 0, 0.1) !important;
  margin-bottom: 100px !important;
}

.second-swiper-pagination {
  /* margin-top: 10px; */
  bottom: -4px !important;
}

.swiper-pagination-bullet-active {
  background: #E5383B !important;
}


#pills-tab {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.1)
}

.nav-pills .nav-link.active {
  background-color: #E5383B;
  position: relative;
}

.nav-pills .nav-link.active::before {
  position: absolute;
  content: '';
  width: 10px;
  height: 10px;
  background-color: #E5383B;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  /* z-index: -1; */
  bottom: -5px;
}

.nav-pills a {
  color: #000;
}


.bg-gray {
  background: #FAFAFA;
  width: 50%;
  color: #4d4d4d;
  padding: 10px 10px;
  margin-bottom: 20px;
  border-radius: 3px;
}
.bg-gray:hover{
  background-color: #f2f2f2 !important;
}


.w-30 {
  width: 30% !important;
}

.w-70 {
  width: 70% !important;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}











/* responsive nav */

/* The side navigation menu */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
  z-index: 999;
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}


.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgb(255, 255, 255);
}







/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

















@media only screen and (min-width:768px) {
  .headCar {
    position: absolute;
    top: 50%;
    left: 5%;
    width: 760px;
    transform: translate(0, -40%);
}

  .title {
    /* position: absolute; */
    /* left: 50%; */
    /* transform: translate(-50%, 0); */
    backface-visibility: hidden;
  }
}



@media only screen and (max-width:600px) {
  .navbar-brand img {
    width: 50px;
  }

  .headCar {
    position: absolute;
    top: 50%;
    left: 10%;
    width: 600px;
    transform: translate(0, -50%);
    display: none;
  }

  .title {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
    justify-content: center;
    justify-items: center;
    font-size: 20px;
  }

  .dot {
    /* margin-left: 10px; */
  }

  .article {
    font-size: 14px;

  }


  #tecnical-info,
  #tecnical-info img {
    /* width:20px !important;
  font-size: 10px !important; */
    margin-right: 0px;
  }


  .gallery-thumbs {
    /* display: none; */
  }

  #detail {
    display: none;
  }

  /* li{
  font-size: 10px;
} */


/* #myChart{
  width: 200px !important;
  height: 500px !important;
} */


}




